<!DOCTYPE html>
<html>
<head>
    @@include
</head>
<body onLoad="init();">
<canvas id="gameCanvas" width="500" height="300" style="background-color: black;">
    Html5 Not Supported?
</canvas>
<br/>
<input id="resolutionToggle" value="Large" type="button"/>
<script>
    $(function () {
        $('#gameCanvas').data('scale', 1);
        $('#resolutionToggle').on('click', function () {

            var scale = $(this).prop('value') === 'Small' ? 1 : 2;
            var canvasMult = $(this).prop('value') === 'Small' ? 0.5 : 2;

            var gc = $('#gameCanvas');
            gc.prop('width', gc.prop('width') * canvasMult).prop('height', gc.prop('height') * canvasMult).data('scale', scale);
            $(this).prop('value', scale === 1 ? 'Large' : 'Small');

            rescale(scale);
        });
    })
</script>
</body>
</html>